.login-title {
    margin: auto;
    width: auto;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.input-box {
    margin: auto;
    width: fit-content;
    padding: 20px; 
    background-color: #FFFFFF;
    font-size: 15px;
    text-align: center
}